<form action='/login' method='post'>
<label for='user_name'>Username</label>
<input type='text' name='log_in'>

<label for='password'>Password</label>
<input type='password' name='password'>

<input type='submit' value='Submit'>
</form>
